
body {
  text-align: center;
  background-color: #DDDDDD;
 }

/* -------------------------- */
/* welcomeView */

 .wView {
  text-align: center;
  margin: auto;
  width: 90%;
  height: 500px;
}

.logo {
  float: left;
  border-style: solid;
  border-radius: 4px;
  margin: 10px;
  background-color: #FFFFFF;
  height: inherit;
}

.accountArea {
  float: left;
  min-height: 400px;
  margin: 15px;
  height: inherit;
  line-height: 150%;
  text-align: center;
}

.signIn {
  text-align: inherit;;
  min-height: 177px;
  vertical-align: middle;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  margin: inherit;
  line-height: inherit;
}

.signUp {
  text-align: inherit;;
  min-height: 178px;
  vertical-align: middle;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  margin: inherit;
  line-height: inherit;
}

/* -------------------------- */
/* profileView */
