
body {
  text-align: center;
  background-color: #DDDDDD;
}

/* -------------------------- */
/* welcomeView */

.wView {
  text-align: center;
  margin: auto;
  width: 90%;
  height: 500px;
}

.logo {
  float: left;
  border-style: solid;
  border-radius: 4px;
  margin: 10px;
  background-color: #FFFFFF;
  height: inherit;
}

.accountArea {
  float: left;
  min-height: 400px;
  margin: 15px;
  height: inherit;
  line-height: 150%;
  text-align: center;
}

.signIn {
  text-align: inherit;
  min-height: 177px;
  vertical-align: middle;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  margin: inherit;
  line-height: inherit;
}

.errorArea {
  color: red;
}

.signUp {
  text-align: inherit;
  min-height: 178px;
  vertical-align: middle;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
  margin: inherit;
  line-height: inherit;
}

/* -------------------------- */
/* profileView */

.tabs {
  position: relative;
  min-height: 800px;
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/* Home ---------------- */

.home-top-area{
  height: 100%;
}

.browse-top-area{
  height: 100%
}

.infoArea {
  float: left;
  border-style: solid;
  border-radius: 4px;
  margin-top: 30px;
  padding-top: 20px;
  min-width: 35%;
  min-height: 80%;
  background-color: #FFFFFF;
  height: inherit;
}

.info-tag {
  float: left;
  padding-left: 2em;
}

.info-userinfo {
  text-align: left;
  padding-left: 10em;
}

.entireWall {
  float: left;
  min-width: 60%;
  min-height: 80%;
  margin: 15px;
  height: inherit;
  line-height: 150%;
  text-align: center;
}

.postArea {
  text-align: inherit;
  height: 15%;
  vertical-align: middle;
  border-style: solid;
  border-radius: 4px;
  padding: 5px;
  margin: inherit;
  line-height: inherit;
}

.wallArea {
  text-align: inherit;
  height: 60%;
  vertical-align: middle;
  border-style: solid;
  border-radius: 4px;
  padding: 5px;
  margin: inherit;
  line-height: inherit;
  overflow: auto;
}
